@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

* {
    box-sizing: inherit;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.full-height {
    height: 100vh;
}

/* animation */
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(2) translateY(-100px);
        -webkit-transform: scale(2) translateY(-100px);
        -moz-transform: scale(2) translateY(-100px);
        -ms-transform: scale(2) translateY(-100px);
        -o-transform: scale(2) translateY(-100px);
    }

    60% {
        opacity: 0.6;
        transform: scale(0.9) translateY(5px);
        -webkit-transform: scale(0.9) translateY(5px);
        -moz-transform: scale(0.9) translateY(5px);
        -ms-transform: scale(0.9) translateY(5px);
        -o-transform: scale(0.9) translateY(5px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
        -webkit-transform: scale(1) translateY(0);
        -moz-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        -o-transform: scale(1) translateY(0);
    }
}