@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SucceededRegister</title>
</head>
<body>
    <h1>Đã gửi mã xác nhận Email,Vui lòng xác nhận trước khi đăng nhập</h1>
</body>
</html>