
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotSucceededRegister</title>
</head>
<body>
    <h1 class="text-danger">Gửi Thông Tin xác nhận email không thành công</h1>
</body>
</html>
