@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>
    <link rel="stylesheet" href="~/scss/Error/error.css" />
</head>
<body>
    <!-- Full -->
    <div class="full full-height">
        <!-- Header -->
        <div class="header">
            <a href="#" class="header__logo">
                <img src="~/img/logo.png" alt="logo">
            </a>
            <a href="#" class="header__back">
                <img src="~/img/back.png" alt="back">
            </a>
            <div class="header__divider"></div>
            <a href="#" class="header__twitter">
                <img src="~/img/twitter.png" alt="twitter">
            </a>
            <a href="#" class="header__facebook">
                <img src="~/img/facebook.png" alt="facebook">
            </a>
        </div><!-- Header -->
        <!-- Main -->
        <main class="main">
            <div class="main__error">error</div>
            <img src="~/img/image.png" alt="">
            <h2>Oh no!</h2>
            <h6>
                Have some problems
                <br>
                Please try again
            </h6>
            <a href="#" class="main__button text-center text-decoration-none">Try Again</a>
        </main><!-- Main -->
    </div><!-- Full -->
</body>

</html>