// -----------Bảng màu-----------
$green-color: #1a8917; //edit 17/11/2020 4h
$white-color: #fff;
$black-color: #000;
$pink-color: #FF69B4;
$orange-color: #ee5154;
$orange-color-tran: #fb7100;
$tro-color: #DCDCDC;
$yellow-color: #FFD600;
$background-primary-color: #f5f3fb; //màu nền chính
$btn-primary-color: #465bc6;
$text-primary-color: #333; //màu text trang chủ
$text-secondary-color: #757575; //màu text description

// -----------Font-----------
$base-font-sans-serif-family: "Quicksand", sans-serif; //font không có chân
$base-font-serif-family: "Playfair Display", serif; //font có chân
$base-size-font: 1.6rem;
$trick-font-size: 62.5%; //set font size cho thẻ html => 1rem = 10px

//-----------Border-radius-----------
$base-border-radius: 8px; //chuẩn chung border radius
