*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ForgotPassword_Frame
{   
    width: 487px;
    background-color: #ffffff;
    box-shadow: 0 0 14px rgb(198 198 198 / 0.8);
    display: flex;
    flex-direction: column;
    padding:14px 28px;
}
.ForgotPassword_Frame__BackBtn
{
    padding: 8px 4px;
}
.ForgotPassword_Frame__BackBtn__IconFrame
{
    display: inline;
    padding: 4px 8px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.ForgotPassword_Frame__BackBtn__IconFrame:hover{
    transform: scale(1);
    transform-origin: center;
    background: rgba(230, 230, 230,0.5);
    padding: 8px 12px;
    color: #000000;
}
.ForgotPassword_Frame__BackBtn__IconFrame i 
{
    font-size: 16px;
    color: rgb(107, 107, 107);
}
.ForgotPassword_Frame__ConentFrame
{
    display: flex;
    flex-direction: column;
}
.ForgotPassword_Frame__ConentFrame__imgFrame
{
    display: inline;
    text-align: center;
}
.ForgotPassword_Frame__ConentFrame__imgFrame img
{
    object-fit: cover;
    object-position: center;
    width: 250px;
    height: 210px;
}
.ForgotPassword_Frame__ConentFrame__title
{
    color: rgb(248, 153, 64);
    font-size: 24px;
    font-weight: 600;
}
.ForgotPassword_Frame__ConentFrame__description
{
    display: inline !important;
    font-size: 18px;
    color: rgb(209, 209, 209);
    margin-bottom: 12px;
}
.ForgotPassword_Frame__ConentFrame__description ,.ForgotPassword_Frame__ConentFrame__title
{
    text-align: center;
}
.ForgotPassword_Frame__ConentFrame__numberField form
{
    display: flex;
    flex-direction: column;
}
.ForgotPassword_Frame__ConentFrame__resetPassword 
{
    display: block;
    justify-content: center;
}
.ForgotPassword_Frame__ConentFrame__resetPassword form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input 
{
    padding: 6px 24px;
    border: none;
    outline: none;
    border-bottom: solid 2px #bdbdbd;
    margin-bottom: 12px;
    text-align: center;
}
.ForgotPassword_Frame__ConentFrame__numberField__ValidatedCodeBtn
{
    width: 70%;
    background-color: rgb(194, 194, 194);
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    padding:12px  0;
    cursor: pointer;
}