@import '../base';
@import "../_mixins.scss";
@import "../_variables.scss";
.header {
    margin: 40px 0;
    padding: 0 10px;
    display: flex;
    align-items: center;

    @include responsive-max-width(768px) {
        margin: 20px 0;
    }
    //=================== HEADER LEFT ==================
    &__left {
        width: 57%;

        &__logo {
            a {
                img {
                    float: left;
                    @include size(32%, 12%);
                    border-right: 1px solid $tro-color;
                    padding-right: 16px;

                    @include responsive-max-width(768px) {
                        border: none;
                        width: 80%;
                        padding-right: 0;
                    }
                }
            }
        }

        &__good {
            width: 66%;
            float: right;
            display: block;
            font-size: 18px;
            font-weight: bold;
            margin-top: 7px;
            font-family: sans-serif;

            @include responsive-max-width(768px) {
                display: none;
            }
        }
    }
    //=================== HEADER RIGHT ==================
    &__right {
        width: 43%;
        justify-content: flex-end;
        display: flex;
        align-items: center;

        &__bell {
            margin-right: 16px;
            padding-top: 4px;

            a {
                color: $text-secondary-color;

                .fa {
                    font-size: large;
                }
            }
        }

        &__up {
            margin-right: 16px;

            a {
                text-decoration: none;
                @include rounded-corners(4px);
                color: $white-color;
                font-size: 14px;
                background: $black-color;
                font-weight: bold;
                padding: 4px 12px 6px;
            }

            @include responsive-max-width(768px) {
                display: none;
            }
        }

        &__account {
            &__avatar {
                position: relative;

                &:hover > .header__right__account__avatar__menuDrop {
                    visibility: visible;
                    opacity: 1;
                }

                &__image {
                    @include size(30px,30px);
                    @include rounded-corners(100%);
                    cursor: pointer;

                    &:hover {
                    }
                }

                &__menuDrop {
                    position: absolute;
                    min-width: 190px;
                    z-index: 1000;
                    display: flex;
                    @include border-all(1px, solid, $tro-color);
                    background: $white-color;
                    @include rounded-corners(5px);
                    padding: 10px;
                    left: -80px;
                    margin-top: 5px;
                    visibility: hidden;
                    opacity: 0;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 25px;
                        top: -10px;
                        left: 0;
                    }

                    &__ul {
                        width: 100%;
                        list-style: none !important;
                        padding-left: 0;

                        &__li {
                            margin-bottom: 10px;
                            padding: 5px;
                            @include rounded-corners(5px);

                            &:hover {
                                background: $gray-color;
                            }

                            &:last-child {
                                margin-bottom: 0px;
                            }

                            .story {
                                text-decoration: none;
                                color: $black-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
