<header class="header">
    <!-- Header Left-->
    <div class="header__left">
        <!-- Header Left Logo-->
        <div class="header__left__logo">
            <a href="/Home/Index">
                <img src="~/img/logo-medium.png" alt="">
            </a>
        </div>
        <!-- Header Left Good-->
        <div class="header__left__good">
            Good morning
        </div>
    </div><!-- Header Left-->
    <!-- Header Right-->
    <div class="header__right">
        <!-- Header Right Bell-->
        <div class="header__right__bell">
            <a href="#">
                <i class="fa fa-bell-o" aria-hidden="true"></i>
            </a>
        </div>
        <!-- Header Right Upgrade -->
        <div class="header__right__up">
            <a href="#">Upgrade</a>
        </div>
        <!-- Header Right Account-->
        <div class="header__right__account" aria-hidden="false">
            <!-- <button><img src="./asset/img/avatar.jpg" alt=""></button> -->
            <div class="dropdown">
                <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                    <img src="@Model.avatar" alt="">
                </button>
                <div class="dropdown-menu scrollbar" aria-labelledby="dropdownMenuButton" id="style-1">
                    <a class="dropdown-item" asp-controller="PersonalPage" asp-action="Index" asp-route-id="@Model.id">
                        <img src="@Model.avatar" alt="">
                        <div class="name">
                            <h4>@Model.fullName</h4>
                        </div>
                    </a>
                    <a class="dropdown-item" asp-action="Create" asp-controller="WriteArticle">Write a story</a>
                    @foreach (var item in Model.roles)
                    {
                        if (item == "Admin")
                        {
                            <a class="dropdown-item">Admin Page</a>
                        }
                    }
                    <a class="dropdown-item" asp-controller="Stories" asp-action="Index">Stories</a>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Logout">Sign out</a>
                </div>
            </div>
        </div>
    </div><!-- Header Right-->
</header><!-- Header -->